<a href="https://colab.research.google.com/github/carladellorfano/carladellorfano/blob/main/Desafio_py_1ra_parte.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from google.colab import drive
drive.mount('/content/drive')
pathCurso = '/content/drive/MyDrive/AP_UNdeC/Data/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
import pandas as pd
data_location = pathCurso + 'winemag-data-130k-v2.csv'

In [39]:
pd.DataFrame(data)

                                                        0
0       0,Italy,"Aromas include tropical fruit, broom,...
1       1,Portugal,"This is ripe and fruity, a wine th...
2       2,US,"Tart and snappy, the flavors of lime fle...
3       3,US,"Pineapple rind, lemon pith and orange bl...
4       4,US,"Much like the regular bottling from 2012...
...                                                   ...
129970  129966,Germany,"Notes of honeysuckle and canta...
129971  129967,US,"Citation is given as much as a deca...
129972  129968,France,"Well-drained gravel soil gives ...
129973  129969,France,"A dry style of Pinot Gris, this...
129974  129970,France,"Big, rich and off-dry, this is ...

[129975 rows x 1 columns]

In [45]:
# Mostrar las primeras filas del DataFrame para explorar los datos
print(data.head())

   Unnamed: 0   country                                        description  \
0           0     Italy  Aromas include tropical fruit, broom, brimston...
1           1  Portugal  This is ripe and fruity, a wine that is smooth...
2           2        US  Tart and snappy, the flavors of lime flesh and...
3           3        US  Pineapple rind, lemon pith and orange blossom ...
4           4        US  Much like the regular bottling from 2012, this...

                          designation  points  price           province  \
0                        Vulkà Bianco      87    NaN  Sicily & Sardinia
1                            Avidagos      87   15.0              Douro
2                                 NaN      87   14.0             Oregon
3                Reserve Late Harvest      87   13.0           Michigan
4  Vintner's Reserve Wild Child Block      87   65.0             Oregon

              region_1           region_2         taster_name  \
0                 Etna                NaN       Kerin O’Keefe
1                  NaN                NaN          Roger Voss
2    Willamette Valley  Willamette Valley        Paul Gregutt
3  Lake Michigan Shore                NaN  Alexander Peartree
4    Willamette Valley  Willamette Valley        Paul Gregutt

  taster_twitter_handle                                              title  \
0          @kerinokeefe                  Nicosia 2013 Vulkà Bianco  (Etna)
1            @vossroger      Quinta dos Avidagos 2011 Avidagos Red (Douro)
2           @paulgwine       Rainstorm 2013 Pinot Gris (Willamette Valley)
3                   NaN  St. Julian 2013 Reserve Late Harvest Riesling ...
4           @paulgwine   Sweet Cheeks 2012 Vintner's Reserve Wild Child...

          variety               winery
0     White Blend              Nicosia
1  Portuguese Red  Quinta dos Avidagos
2      Pinot Gris            Rainstorm
3        Riesling           St. Julian
4      Pinot Noir         Sweet Cheeks

In [47]:
# Mostrar estadísticas descriptivas básicas de las columnas numéricas
print(data.describe())

          Unnamed: 0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000

In [49]:
# Mostrar los nombres de las columnas
print(data.columns)

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [48]:
# Cargar los datos en un DataFrame de pandas
data = pd.read_csv(data_location)

In [46]:
# Mostrar información resumida sobre el DataFrame
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB
None

In [50]:
# Calcular la cantidad de datos ausentes para "designation" y "region_2"
missing_designation = data['designation'].isnull().sum()
missing_region_2 = data['region_2'].isnull().sum()

# Comparar y mostrar el resultado
if missing_designation > missing_region_2:
    print("La columna 'designation' tiene más datos ausentes.")
elif missing_designation < missing_region_2:
    print("La columna 'region_2' tiene más datos ausentes.")
else:
    print("Ambas columnas tienen la misma cantidad de datos ausentes.")

La columna 'region_2' tiene más datos ausentes.

In [51]:
print(missing_designation)

37465

In [52]:
print(missing_region_2)

79460

In [54]:
# Ordenar las columnas por cantidad de datos ausentes de menor a mayor
missing_data_sorted = missing_data.sort_values()

# Mostrar la cantidad de datos ausentes por columna ordenada
print(missing_data_sorted)

Unnamed: 0                   0
description                  0
points                       0
title                        0
winery                       0
variety                      1
country                     63
province                    63
price                     8996
region_1                 21247
taster_name              26244
taster_twitter_handle    31213
designation              37465
region_2                 79460
dtype: int64

In [55]:
# Filtrar los registros para el país "Argentina"
argentina_data = data[data['country'] == 'Argentina']

# Mostrar los primeros registros del DataFrame filtrado
print(argentina_data.head())

     Unnamed: 0    country                                        description  \
16           16  Argentina  Baked plum, molasses, balsamic vinegar and che...
17           17  Argentina  Raw black-cherry aromas are direct and simple ...
183         183  Argentina  With attractive melon and other tropical aroma...
224         224  Argentina  Blackberry and road-tar aromas are dark and st...
231         231  Argentina  Meaty and rubbery, but that's young Bonarda. T...

             designation  points  price          province       region_1  \
16                 Felix      87   30.0             Other       Cafayate
17   Winemaker Selection      87   13.0  Mendoza Province        Mendoza
183                  NaN      88   12.0             Other          Salta
224                Lunta      90   22.0  Mendoza Province  Luján de Cuyo
231                  NaN      85   10.0  Mendoza Province        Mendoza

    region_2        taster_name taster_twitter_handle  \
16       NaN  Michael Schachner           @wineschach
17       NaN  Michael Schachner           @wineschach
183      NaN  Michael Schachner           @wineschach
224      NaN  Michael Schachner           @wineschach
231      NaN  Michael Schachner           @wineschach

                                                 title    variety  \
16          Felix Lavaque 2010 Felix Malbec (Cafayate)     Malbec
17   Gaucho Andino 2011 Winemaker Selection Malbec ...     Malbec
183                      Alamos 2007 Torrontés (Salta)  Torrontés
224           Mendel 2014 Lunta Malbec (Luján de Cuyo)     Malbec
231                  Andean Sky 2007 Bonarda (Mendoza)    Bonarda

            winery
16   Felix Lavaque
17   Gaucho Andino
183         Alamos
224         Mendel
231     Andean Sky

In [56]:
# Filtrar los registros para el país "Argentina"
argentina_indices = data[data['country'] == 'Argentina'].index

# Mostrar los índices de los registros para Argentina
print("Índices de los registros para Argentina:", argentina_indices)

Índices de los registros para Argentina: Int64Index([    16,     17,    183,    224,    231,    245,    253,    261,
               266,    273,
            ...
            129777, 129886, 129887, 129890, 129917, 129921, 129925, 129932,
            129938, 129948],
           dtype='int64', length=3800)

In [58]:
# Obtener la cantidad de referencias por país y ordenar en orden descendente
paises_referencias = data['country'].value_counts().sort_values(ascending=False)

# Mostrar los países y sus referencias en orden descendente
print(paises_referencias)

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Czech Republic               12
Serbia                       12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

In [59]:
# Obtener la cantidad de referencias por país y ordenar en orden descendente
paises_referencias = data['country'].value_counts().sort_values(ascending=False)

# Obtener la posición de un país específico, por ejemplo, "Argentina"
posicion_argentina = paises_referencias.index.get_loc("Argentina")

# Mostrar la posición de "Argentina" en la lista ordenada
print("La posición de Argentina es:", posicion_argentina + 1)

La posición de Argentina es: 7

In [60]:
# Obtener la cantidad de referencias por país y ordenar en orden descendente
paises_referencias = data['country'].value_counts().sort_values(ascending=False)

# Obtener la posición de un país específico, por ejemplo, "Portugal"
posicion_portugal = paises_referencias.index.get_loc("Portugal")

# Mostrar la posición de "Portugal" en la lista ordenada
print("La posición de Portugal es:", posicion_portugal + 1)

La posición de Portugal es: 5

In [61]:
# Filtrar los registros para los países "Italy", "Spain" y "France"
italy_data = data[data['country'] == 'Italy']
spain_data = data[data['country'] == 'Spain']
france_data = data[data['country'] == 'France']

# Calcular la cantidad de referencias para cada país
referencias_italy = len(italy_data)
referencias_spain = len(spain_data)
referencias_france = len(france_data)

# Verificar si la suma de las referencias de "Italy" y "Spain" supera a las de "France"
if referencias_italy + referencias_spain > referencias_france:
    print("La suma de referencias de Italy y Spain supera a las de France.")
else:
    print("La suma de referencias de Italy y Spain no supera a las de France.")

La suma de referencias de Italy y Spain supera a las de France.

In [65]:
# Filtrar los registros para el país "Argentina"
argentina_data = data[data['country'] == 'Argentina']

# Contar la cantidad de datos ausentes en el campo "price" para Argentina
datos_ausentes_price_argentina = argentina_data['price'].isnull().sum()

# Mostrar el resultado
print("Cantidad de datos ausentes en el campo 'price' para Argentina:", datos_ausentes_price_argentina)

Cantidad de datos ausentes en el campo 'price' para Argentina: 44

In [73]:
# Filtrar los registros para el país "Argentina"
argentina_data = data[data['country'] == 'Argentina']

# Calcular la cantidad de referencias por bodega (vinería) y ordenar en orden descendente
bodegas_referencias_argentina = argentina_data['winery'].value_counts().sort_values(ascending=False)

# Obtener la bodega con la mayor cantidad de referencias
mayor_referencias_bodega = bodegas_referencias_argentina.index[0]

# Mostrar el resultado
print("La bodega con la mayor cantidad de referencias en Argentina es:", mayor_referencias_bodega)

La bodega con la mayor cantidad de referencias en Argentina es: Trapiche

In [77]:
# Filtrar los registros para el país "Argentina" y la bodega "Norton"
argentina_norton_data = data[(data['country'] == 'Argentina') & (data['winery'] == 'Norton')]

# Calcular el total de referencias de la bodega "Norton" en Argentina
total_referencias_norton = argentina_norton_data.shape[0]

# Mostrar el total de referencias de la bodega "Norton" en Argentina
print("Total de referencias de la bodega 'Norton' en Argentina:", total_referencias_norton)

Total de referencias de la bodega 'Norton' en Argentina: 0

In [78]:
# Filtrar los registros para el país "Argentina"
argentina_data = data[data['country'] == 'Argentina']

# Encontrar la bodega mejor puntuada en Argentina
mejor_bodega_argentina = argentina_data[argentina_data['points'] == argentina_data['points'].max()]['winery'].values[0]

# Mostrar la bodega mejor puntuada en Argentina
print("La bodega mejor puntuada en Argentina es:", mejor_bodega_argentina)

La bodega mejor puntuada en Argentina es: Bodega Catena Zapata

In [79]:
# Filtrar los registros para el país "Argentina"
argentina_data = data[data['country'] == 'Argentina']

# Encontrar el vino más caro de Argentina
vino_mas_caro_argentina = argentina_data[argentina_data['price'] == argentina_data['price'].max()]

# Mostrar la información del vino más caro de Argentina
print("Información del vino más caro de Argentina:")
print(vino_mas_caro_argentina[['title', 'winery', 'price']])

Información del vino más caro de Argentina:
                                                   title      winery  price
61144  Viña Cobos 2012 Volturno Marchiori Vineyard Ca...  Viña Cobos  230.0
87328  Viña Cobos 2013 Volturno Cabernet Sauvignon (P...  Viña Cobos  230.0

In [80]:
# Encontrar el vino más caro de todos
vino_mas_caro = data[data['price'] == data['price'].max()]

# Mostrar la información del vino más caro
print("Información del vino más caro:")
print(vino_mas_caro[['title', 'winery', 'country', 'price']])

Información del vino más caro:
                                      title                    winery country  \
80290  Château les Ormes Sorbet 2013  Médoc  Château les Ormes Sorbet  France

        price
80290  3300.0

In [81]:
# Filtrar los registros para vinos con precio de 4 dólares
vinos_precio_4 = data[data['price'] == 4]

# Calcular el total de vinos con precio de 4 dólares
total_vinos_precio_4 = vinos_precio_4.shape[0]

# Mostrar el total de vinos con precio de 4 dólares
print("Total de vinos con precio de 4 dólares:", total_vinos_precio_4)

Total de vinos con precio de 4 dólares: 11

In [82]:
# Calcular el puntaje promedio por país
promedio_puntajes_pais = data.groupby('country')['points'].mean()

# Encontrar el país con el puntaje promedio más bajo
pais_puntaje_mas_bajo = promedio_puntajes_pais.idxmin()
puntaje_promedio_mas_bajo = promedio_puntajes_pais.min()

# Mostrar el país con el puntaje promedio más bajo y su puntaje
print("País con el puntaje promedio más bajo:", pais_puntaje_mas_bajo)
print("Puntaje promedio más bajo:", puntaje_promedio_mas_bajo)

País con el puntaje promedio más bajo: Peru
Puntaje promedio más bajo: 83.5625

In [84]:
# Filtrar los registros donde el precio no sea nulo y agrupar por país
data_cleaned = data.dropna(subset=['price'])
promedio_precio_por_pais = data_cleaned.groupby('country')['price'].mean()

# Encontrar el país con el vino promedio más caro en función del puntaje
pais_vino_mas_caro_por_puntaje = promedio_precio_por_pais.idxmax()
precio_promedio_mas_caro_por_puntaje = promedio_precio_por_pais.max()

# Mostrar el país y el precio promedio más caro en función del puntaje
print("País con el vino promedio más caro en función del puntaje:", pais_vino_mas_caro_por_puntaje)
print("Precio promedio más caro en función del puntaje:", precio_promedio_mas_caro_por_puntaje)

País con el vino promedio más caro en función del puntaje: Switzerland
Precio promedio más caro en función del puntaje: 85.28571428571429

In [85]:
# Filtrar los registros donde el precio no sea nulo y agrupar por país
data_cleaned = data.dropna(subset=['price'])
promedio_precio_por_pais = data_cleaned.groupby('country')['price'].mean()

# Encontrar el país con el precio promedio más bajo y más alto
pais_precio_mas_bajo = promedio_precio_por_pais.idxmin()
precio_promedio_mas_bajo = promedio_precio_por_pais.min()

pais_precio_mas_alto = promedio_precio_por_pais.idxmax()
precio_promedio_mas_alto = promedio_precio_por_pais.max()

# Mostrar el país y el precio promedio más bajo
print("País con el precio promedio más bajo:", pais_precio_mas_bajo)
print("Precio promedio más bajo:", precio_promedio_mas_bajo)

# Mostrar el país y el precio promedio más alto
print("País con el precio promedio más alto:", pais_precio_mas_alto)
print("Precio promedio más alto:", precio_promedio_mas_alto)

País con el precio promedio más bajo: Ukraine
Precio promedio más bajo: 9.214285714285714
País con el precio promedio más alto: Switzerland
Precio promedio más alto: 85.28571428571429

In [86]:
# Calcular el número de personas que probaron los vinos (número único de tasters)
num_personas = data['taster_name'].nunique()

# Mostrar el número de personas que probaron los vinos
print("Número de personas que probaron los vinos:", num_personas)

Número de personas que probaron los vinos: 19

In [87]:
# Filtrar los registros donde los críticos son Roger Voss, Kerin O'Keefe y Michael Schachner
criticos_seleccionados = ['Roger Voss', 'Kerin O\'Keefe', 'Michael Schachner']
data_criticos_seleccionados = data[data['taster_name'].isin(criticos_seleccionados)]

# Calcular el total de referencias para cada crítico
total_referencias_por_critico = data_criticos_seleccionados['taster_name'].value_counts()

# Ordenar de mayor a menor por total de referencias
total_referencias_ordenado = total_referencias_por_critico.sort_values(ascending=False)

# Mostrar el resultado ordenado
print("Total de referencias por crítico (de mayor a menor):")
print(total_referencias_ordenado)

Total de referencias por crítico (de mayor a menor):
Roger Voss           25514
Michael Schachner    15134
Name: taster_name, dtype: int64