<a href="https://colab.research.google.com/github/carladellorfano/carladellorfano/blob/main/Mi_Not.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numero = 0
palabra = "Carla Dell'Orfano"
print(palabra)

Carla Dell'Orfano

In [ ]:
if numero > 5:
  print("Hola")
  print("Adios")
  print("Buenas Noches")
if numero > 5:
  print("Hola")
elif numero > 1:
  print("Adios")
else:
  print("Buenas noches")

Buenas noches

In [ ]:
for i in range(10,20,4):
  print("Hola", i)

Hola 10
Hola 14
Hola 18

In [ ]:
#Funciones
def nombreDeLaFuncion():
  print("Hola, soy una funcion")
  print("2 + 2 es: " ,2+2)

In [ ]:
nombreDeLaFuncion()

Hola, soy una funcion
2 + 2 es:  4

In [ ]:
def greet_user():
  """Display a simple greeting"""
  print("Hello!")

In [ ]:
def greet_user(username):
  """Display a simple greeting."""
  print(f"Hello,{username.title()}!")
greet_user('Carla')

Hello,Carla!

In [ ]:
def sumarNumeros(a=1,b=10):
  #Esto es un comentario
  """ Esto es una funcion que permite sumar"""
  print("La suma de los numeros es:",a+b)
sumarNumeros()

La suma de los numeros es: 11

In [ ]:
sumarNumeros

In [ ]:
sumarNumeros(b=20) #Cambio el valor de la variable b y suma 1 + 20

La suma de los numeros es: 21

In [ ]:
numero=int()

In [ ]:
numero="Pepe"

In [ ]:
sumarNumeros("Matias", "5") #Junta los valores no importa si son letras o numeros.

La suma de los numeros es: Matias5

In [ ]:
def greet_user(username):
  """Display a simple greeting."""
  print(f"Hello,{username.title()}!") #Signo de admiracion por fuera de los {}

In [ ]:
greet_user('Matias')

Hello,Matias!
Hello, Carla dell'orfano!

In [ ]:
nombre= "Carla Dell'Orfano"
print(f"Hello, {nombre.capitalize()}!") #caputalize es para combertir la primera letra en mayuscula y el resto en miuscula.

Hello, Carla dell'orfano!

In [ ]:
print(f"Hello esta comparacion es 5>7, {5>7}!") #Dentro de { comparo} y devuelve V o F

Hello esta comparacion es 5>7, False!

In [ ]:
print(f"La divicion de 1/7 es: {1/7:.2f}") #.2f me indica cuantos decimales quiero despues de la coma.
print(f"La divicion de 1/7 es: {1/7:.5f}")

La divicion de 1/7 es: 0.14
La divicion de 1/7 es: 0.14286

In [ ]:
greet_user("Matias")

Hello,Matias!
Hello, Carla dell'orfano!

In [ ]:
def describe_pet(animal_type, pet_name): #Funcion con dos variables
  """Display information about a pet."""
  print(f"\nI have a {animal_type}.")
  print(f"My {animal_type}'s name is {pet_name.title()}.")

In [ ]:
describe_pet('hamster','harry')
describe_pet('dog','wille')

I have a hamster.
My hamster's name is Harry.

I have a dog.
My dog's name is Wille.

In [ ]:
describe_pet(animal_type='dog', pet_name='Perreque') #Keyword : par nombre y valor que pasa una funcion.
describe_pet(pet_name='Luna', animal_type="Gato") # Asocia el nombre y el valor dentro del argumento.

I have a dog.
My dog's name is Perreque.

I have a Gato.
My Gato's name is Luna.

In [ ]:
def describe_pet(pet_name, animal_type='dog'):
  print(f"\nI have a {animal_type}.") #\n salto de linea en la cadena, secuencia de escape.
  print(f"My {animal_type}'s name is {pet_name.title()}")
describe_pet(animal_type='dog', pet_name='Perreque')

I have a dog.
My dog's name is Perreque

In [ ]:
describe_pet(animal_type='dog', pet_name='Perreque')

I have a dog.
My dog's name is Perreque

In [ ]:
describe_pet('Luna')

I have a dog.
My dog's name is Luna

In [ ]:
describe_pet(animal_type='cat', pet_name='Luna')

I have a cat.
My cat's name is Luna

In [ ]:
#Argumento opccional, solo si tiene sentido.
def get_formatted_name(first_name, middle_name, last_name):
    """Return a full name, neatly formatted."""
    full_name = f"{first_name} {middle_name} {last_name}"
    return full_name.title()

In [ ]:
variable = get_formatted_name('john', 'lee', 'hooker')
print(variable)

John Hooker Lee

In [ ]:
def get_formatted_name(first_name, last_name, middle_name=''):
    """Return a full name, neatly formatted."""
    if middle_name:
        full_name = f"{first_name} {middle_name} {last_name}"
    else:
        full_name = f"{first_name} {last_name}"
    return full_name.title()

In [ ]:
def make_pizza(*toppings): #El * le dice a py que construya una tupla vacia
    """Print the list of toppings that have been requested."""
    print(toppings)

In [ ]:
make_pizza('pepperoni')

('pepperoni',)

In [ ]:
make_pizza('mushrooms', 'green peppers', 'extra cheese',5) #Puedo agregar todos los argumentos que quiero

('mushrooms', 'green peppers', 'extra cheese', 5)

In [ ]:
def pizza_especial(*ingredientes):
  print(ingredientes)

In [ ]:
pizza_especial('masa', 'salsa', 'queso muzza', 'tomate', 'ajo')

('masa', 'salsa', 'queso muzza', 'tomate', 'ajo')

In [ ]:
#Creamos diccionario vacio con **user_info
def build_profile(first, last, **user_info):
    """Build a dictionary containing everything we know about a user."""

    user_info['first_name'] = first
    user_info['last_name'] = last
    return user_info

In [ ]:
user_profile = build_profile('albert', 'einstein',
location='princeton' ,
field='physics')
print(user_profile)

{'location': 'princeton', 'field': 'physics', 'first_name': 'albert', 'last_name': 'einstein'}

In [ ]:
#return , valor que devuelve la funcion
def calculo_xyz(x, y, z=1.5):
  if z > 1:
    return z*(x+y)
  else:
    return z/(x+y)

In [ ]:
resultado = calculo_xyz(20,30,2)
print(resultado)

100

In [ ]:
calculo_xyz(20,30,10) #No necesito utilizar print

500

In [ ]:
#Devolver varios resultados
def varios_resultados():
  a = 5
  b = 6
  c = 7
  return a, b, c
  x, y, z = varios_resultados()
  print(x, y, z)

In [ ]:
x, y, z = varios_resultados()
print(x, y, z)

5 6 7

In [ ]:
#Variables locales(pertenecen a la funcion) y globales(pertenecen al programa princiapl)
def calculo_xyz(x, y, z=1.5):
  if z > 1:
    r = z * (x + y)
  else:
    r = z/ (x + y)
  return r

In [ ]:
a = 3
b = 7
c = 5
d = calculo_xyz(a,b,c)
print(d)

50

In [ ]:
def greet_user(username):
    """Display a simple greeting."""
    print(f"Hello, {username.title()}!")

greet_user('jesse')
greet_user('paul')

Hello, Jesse!
Hello, Paul!

In [ ]:
def describe_pet(animal_type, pet_name):
  """ Display information about a pet."""
  print(f"\nI have a {animal_type}.")
  print(f"My {animal_type}'s name is {pet_name.title()}.")

describe_pet('hamster', 'harry')
describe_pet('dog', 'willie')

I have a hamster.
My hamster's name is Harry.

I have a dog.
My dog's name is Willie.

In [ ]:
describe_pet(animal_type='hamster', pet_name='harry') #Argumento de palabra clave (argumento Keyboard)
describe_pet(pet_name='harry', animal_type='hamster')

I have a hamster.
My hamster's name is Harry.

I have a hamster.
My hamster's name is Harry.

In [ ]:
def describe_pet(pet_name, animal_type='dog'):
    """Display information about a pet."""
    print(f"\nI have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name.title()}.")

describe_pet(pet_name='willie')
describe_pet('willie')
describe_pet('Luna', 'Cat')

I have a dog.
My dog's name is Willie.

I have a dog.
My dog's name is Willie.

I have a Cat.
My Cat's name is Luna.

In [ ]:
# A dog named Willie.
describe_pet('willie')
describe_pet(pet_name='willie')

# A hamster named Harry.
describe_pet('harry', 'hamster')
describe_pet(pet_name='harry', animal_type='hamster')
describe_pet(animal_type='hamster', pet_name='harry')

I have a dog.
My dog's name is Willie.

I have a dog.
My dog's name is Willie.

I have a hamster.
My hamster's name is Harry.

I have a hamster.
My hamster's name is Harry.

I have a hamster.
My hamster's name is Harry.

In [ ]:
#Argumento opccional
def get_formatted_name(first_name, middle_name, last_name):
    """Return a full name, neatly formatted."""
    full_name = f"{first_name} {middle_name} {last_name}"
    return full_name.title()

musician = get_formatted_name('john', 'lee', 'hooker')
print(musician)

def get_formatted_name(first_name, last_name, middle_name=''):
    """Return a full name, neatly formatted."""
    if middle_name:
        full_name = f"{first_name} {middle_name} {last_name}"
    else:
        full_name = f"{first_name} {last_name}"
    return full_name.title()

musician = get_formatted_name('jimi', 'hendrix')
print(musician)

musician = get_formatted_name('john', 'hooker', 'lee')
print(musician)

John Lee Hooker
Jimi Hendrix
John Lee Hooker

In [ ]:
#Funcion para saber si un numero es primo o no.
def es_primo(numero):
    if numero <= 1:
        return False

    for i in range(2, numero):
        if numero % i == 0:
            return False

    return True

In [ ]:
numero = 17
if es_primo(numero):
    print(numero, "es primo")
else:
    print(numero, "no es primo")

17 es primo

In [ ]:
numero = 18
if es_primo(numero):
    print(numero, "es primo")
else:
    print(numero, "no es primo")

18 no es primo

In [ ]:
def contar_digitos(numero):
    if numero == 0:
        return 1

    contador = 0
    numero = abs(numero)  # Convertir el número a su valor absoluto para tratar positivos y negativos de la misma manera

    while numero > 0:
        numero //= 10  # División entera para eliminar el último dígito
        contador += 1

    return contador

In [ ]:
numero = 12345
cantidad = contar_digitos(numero)
print("El número", numero, "tiene", cantidad, "dígitos")

El número 12345 tiene 5 dígitos

In [ ]:
def es_bisiesto(anio):
    if anio % 4 == 0 and (anio % 100 != 0 or anio % 400 == 0):
        return True
    else:
        return False

In [ ]:
anio = 2025
if es_bisiesto(anio):
    print(anio, "es un año bisiesto")
else:
    print(anio, "no es un año bisiesto")

2025 no es un año bisiesto

In [ ]:
x = 10
y = "Hola"
z = 'A'

print(type(x)) # <class 'int'>
print(type(y)) # <class 'str'>
print(type(z)) # <class 'str'>

<class 'int'>
<class 'str'>
<class 'str'>

In [ ]:
def calculo_a(x, y):
  z = x * y
  if z > 10:
    r = z * (x + y)
  else:
      r = z + (x + y)
      return r

In [ ]:
r=10
s=calculo_a(r,3)
r,s

(10, None)

In [ ]:
#Verificacion de tipo de datos

In [ ]:
x = 10
y = "Hola"
z = 'A'

print(type(x)) # <class 'int'>
print(type(y)) # <class 'str'>
print(type(z)) # <class 'str'>

<class 'int'>
<class 'str'>
<class 'str'>

In [ ]:
x = 10
y = "Hola"

print(isinstance(x, int)) # True
print(isinstance(y, int)) # False
print(isinstance(y, str)) # True

True
False
True

In [ ]:
def suma(a, b):
    if isinstance(a, int) and isinstance(b, int):
      return a + b
    else:
      raise TypeError("a y b deben ser enteros.")


print(suma(2, 3)) # 5
print(suma(2, 3)) # TypeError: a y b deben ser enteros.

print("Termine bien")

5
5
Termine bien

In [ ]:
x = 150

if x > 0 and x < 100:
    print("x está en el rango válido")
else:
    print("x está fuera del rango válido")

x está fuera del rango válido

In [ ]:
def validar_numero(num):
    if not isinstance(num, int): #Verifico si el numero es entero
        print("Error: el valor ingresado no es un número entero.")
        return False
    elif num < 1 or num > 10:
        print("Error: el número debe estar entre 1 y 10.")
        return False
    else:
        return True

In [ ]:
resultado = int(input("Ingrese su edad: "))

Ingrese su edad: 32

In [ ]:
validar_numero("fs")

Error: el valor ingresado no es un número entero.

False

In [ ]:
validar_numero(81)

Error: el número debe estar entre 1 y 10.

False

In [ ]:
type(resultado) #Que tipo de informacion tengo? 'int' entero

int

In [ ]:
for i in range(3): #Repite
  print("Hola")

Hola
Hola
Hola

In [ ]:
while int(input("Ingrese un numero")) > 10:
  print("Ingrese otro numero")

print("Numero correcto")

Ingrese un numero32
Ingrese otro numero
Ingrese un numero32
Ingrese otro numero
Ingrese un numero1
Numero correcto

In [ ]:
def calculo_xyz(x, y, z=1.5):
    try:
        r = z * (x / y)
        return r
    except:
        print('Error')

In [ ]:
a = calculo_xyz(3,0,10)

Error

In [ ]:
a = calculo_xyz(3,2,'z')

Error

In [ ]:
def calculo_xyz(x, y, z=1.5):
    try:
        r = z * (x / y)
        return r
    except ZeroDivisionError as pepe:
        print('Error division por cero', pepe)
    except TypeError as matias:
        print('Datos no numericos', matias)

In [ ]:
def calculo_xyz(x, y, z=1.5):
    try:
        if x == 5:
          raise ValueError("X No puede ser un 5")
        if y == 0:
          raise ValueError("Y No puede ser un 0")
        return y/x + z
    except Exception as e:
        print('Error', e)

In [ ]:
a = calculo_xyz(3,0,10)
a = calculo_xyz(3,2,'z')
a = calculo_xyz(5,2,1)
a = calculo_xyz(0,2,1)

Error Y No puede ser un 0
Error unsupported operand type(s) for +: 'float' and 'str'
Error X No puede ser un 5
Error division by zero

In [ ]:
def calculo_xyz(x, y, z=1.5):
    try:
        if y == 0:
          raise ZeroDivisionError("El valor de Y debe ser distinto de 0")
        r = z * (x / y)
        print(r)

    except ZeroDivisionError as ex:
        print('Error division por cero')
        print('Mensaje de error original: ',ex)

    except TypeError as ex:
        print('Datos no numericos')
        print('Mensaje de error original: ',ex)

    except Exception as ex:
        print('Exception padre')
        print('Mensaje de error original: ',ex)

    else:
        print('Caso exitoso')
    finally:
        print('Siempre sale')

In [ ]:
a = calculo_xyz(3,0,10)

Error division por cero
Mensaje de error original:  El valor de Y debe ser distinto de 0
Siempre sale

In [ ]:
a = calculo_xyz(3,10,'a')

Datos no numericos
Mensaje de error original:  can't multiply sequence by non-int of type 'float'
Siempre sale

In [ ]:
var1 = 10 ; var2 = 12 ; list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
var1 == var2

False

In [ ]:
var1 != var2

True

In [ ]:
var1 > var2

False

In [ ]:
var1 in list1

True

In [ ]:
var1 is var2

False

In [ ]:
var1 = 10 ; var2 = 12 ; list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
var1 != var2 and var1 in list1 #Son var1 y var2 las dos True?

True

In [ ]:
(var1 == var2) or (var1 in list1) #Al menos una de las var es True?

In [ ]:
not (var1 == var2) #Es la condicion (var1 == var2) False? Es Falsa, devuelve True.

True

In [ ]:
any([var1 == var2,var1 in list1]) #Alguna de las condicoones de la lista es True?

True

In [ ]:
all([var1 == var2,var1 in list1]) #Todas las condiciones son True?

False

In [ ]:
while True:
    try:
        num = float(input("Ingrese un número: "))
        break
    except ValueError:
        print("Debe ingresar un valor numérico válido. Intente nuevamente.")

print("El número ingresado es:", num)

Ingrese un número: 2
El número ingresado es: 2.0

In [ ]:
while True:
    try:
        num = int(input("Ingrese un número entre 1 y 10: "))
        if num < 1 or num > 10:
            print("Debe ingresar un valor dentro del rango especificado. Intente nuevamente.")
        else:
            break
    except ValueError:
        print("Debe ingresar un valor numérico válido. Intente nuevamente.")

print("El número ingresado es:", num)

Ingrese un número entre 1 y 10: 5
El número ingresado es: 5

In [ ]:
while True:
    try:
        edad = int(input("Ingrese su edad: "))
        break
    except ValueError:
        print("Debe ingresar un valor numérico válido. Intente nuevamente.")

while True:
    nombre = input("Ingrese su nombre: ")
    if nombre.strip() == "":
        print("Debe ingresar un nombre válido. Intente nuevamente.")
    else:
        break

print("Su nombre es", nombre, "y tiene", edad, "años.")

Ingrese su edad: 32
Ingrese su nombre: 5
Su nombre es 5 y tiene 32 años.

In [ ]:
while True:
    try:
        num1 = int(input("Ingrese el primer número: "))
        num2 = int(input("Ingrese el segundo número: "))
        if num2 == 0:
            raise ZeroDivisionError("No se puede dividir por cero.")
        resultado = num1 / num2
        break
    except ZeroDivisionError as e:
        print(e)
    except ValueError:
        print("Debe ingresar dos números enteros.")

print("El resultado de la división es: ", resultado)

Ingrese el primer número: 10
Ingrese el segundo número: 25
El resultado de la división es:  0.4

In [ ]:
def ingresar_nombre():
  nombre = input("Ingrese el nombre del estudiante: ")
  if nombre.strip() == "" or any(char.isdigit() for char in nombre):
    raise ValueError("El nombre no es valido...")
  return nombre

def ingresar_edad():
  try:
    edad = int(input("Ingrese la edad del estudiante: "))
    if edad < 0:
      raise Exception("La edad, debe ser positiva...")
  except ValueError as error:
    raise ValueError("La edad, se ingreso incorrectamente")
  return edad

cantidad = int(input("Ingrese la cantidad de estudiantes: "))
suma_edad = 0
cantidad_total = cantidad
while cantidad > 0:
  while True:
    try:
      nombre = ingresar_nombre()
      break
    except Exception as error:
      print("Se produjo un error en el nombre del tipo:",error)
  while True:
    try:
      edad = ingresar_edad()
      break
    except Exception as error:
      print("Se produjo un error en la edad del tipo:",error)
  suma_edad += edad #suma_edad = suma_edad + edad
  cantidad -= 1

print("La edad promedio de los estudiantes es:", suma_edad/cantidad_total)

Ingrese la cantidad de estudiantes: 2
Ingrese el nombre del estudiante: Carla
Ingrese la edad del estudiante: 32
Ingrese el nombre del estudiante: Esteban
Ingrese la edad del estudiante: 34
La edad promedio de los estudiantes es: 33.0

In [ ]:
cadena1 = 'Hola, mundo!'
cadena2 = "Este es un ejemplo de una cadena de caracteres."

In [ ]:
print(cadena1)
print(cadena2)

Hola, mundo!
Este es un ejemplo de una cadena de caracteres.

In [ ]:
lista1 = [1, 2, 3, 4, 5]
lista2 = ['perro', 'gato', 'ratón']
lista3 = [1, 'hola', True, 3.14]

In [ ]:
print(lista1)
print(lista2)
print(lista3)

[1, 2, 3, 4, 5]
['perro', 'gato', 'ratón']
[1, 'hola', True, 3.14]

In [ ]:
cadena1 = 'Hola, '
cadena2 = 'mundo!'
concatenada = cadena1 + cadena2
print(concatenada)

Hola, mundo!

In [ ]:
lista_cadenas = ['hola', 'mundo', '!']
separador = ' '
concatenada2 = separador.join(lista_cadenas)
print(concatenada2)

hola mundo !

In [7]:
cadena = 'Este es un ejemplo.'
primer_caracter = cadena[0]
print(primer_caracter)

E

In [ ]:
subcadena = cadena[1:4]
print(subcadena)

ste